@charset "UTF-8";


main > section{
    width: 90%;
    flex-direction: column;
    align-items: start;
}

.background{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.conteiner-title-t{
    width: 100%;   
    
}

.conteiner-title-t h1{
    font-size: 25px;
    text-transform: uppercase;
    color: #E9E9EA;
    font-weight: 100;
    letter-spacing: 5px;
    text-align: center;
}

.conteiner-title-t h1 strong{
    color: #adadb9;
}

.conteiner-flex{
    display: flex;
    width: 100%;
    align-self: center;
    margin-top: 30px;
}

.conteiner-desc-t{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteiner-text-t h1{
    text-align: start;
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    color: #E9E9EA;
    text-align: center;
    text-transform: uppercase;
}

.conteiner-text-t p:nth-child(1){
    text-transform: uppercase;
    margin-block: 0px;
}

.conteiner-text-t p{
    width: 100%;
    font-size: 18px;
    letter-spacing: 0px;
    color: #adadb9;
    margin-block: 10px;
    text-align: center;
}


.conteiner-opt-t{
    margin-bottom: 20px;
}

.conteiner-opts-t{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opts-t{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.conteiner-img-t{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 25px;
}

.technology{
    width: 250px;
}


.opts-t-actv{
    background-color: white;
    color: black;
}


